{% extends 'base.html.twig' %}

{% block title %}New Partenaire{% endblock %}

{% block body %}
{% block content %}
    <h1>Create new Partenaire</h1>

    {{ include('partenaire/_form.html.twig') }}

    <a href="{{ path('partenaire_index') }}">back to list</a>
{% endblock %}
{% endblock %}
