{% extends 'base.html.twig' %}

{% block title %}Edit Job Offer{% endblock %}


{% block content %}
    <h1>Edit Annonce</h1>

<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <div class="iq-card" >
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Edit my job offer</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
    {{ include('annonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('annonce_index') }}">back to list</a>

    {{ include('annonce/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    </div>

{% endblock %}
