{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
{% block content %}
    <h1>Create new Annonce</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('annonce_index') }}">back to list</a>
{% endblock %}
{% endblock %}
