<form method="post" action="{{ path('type_event_delete', {'typeName': type_event.typeName}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_event.typeName) }}">
    <button class="btn">Delete</button>
</form>
