{% extends 'base.html.twig' %}

{% block title %}TypeEvent index{% endblock %}

{% block body %}
{% block content %}
    <h1>TypeEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TypeName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_event in type_events %}
            <tr>
                <td>{{ type_event.typeName }}</td>
                <td>
                    <a href="{{ path('type_event_show', {'typeName': type_event.typeName}) }}">show</a>
                    <a href="{{ path('type_event_edit', {'typeName': type_event.typeName}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_event_new') }}">Create new</a>
{% endblock %}
{% endblock %}
