{% extends 'back.html.twig' %}

{% block title %}Edit Postes{% endblock %}


{% block content %}
    <h1>Edit Postes</h1>

    {{ include('postes/back_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('postes_back_index') }}">back to list</a>

    {{ include('postes/back_delete_form.html.twig') }}
{% endblock %}
