{% extends 'base.html.twig' %}

{% block title %}New Postes{% endblock %}








{% block content %}
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <div class="iq-card" >
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Add post</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            {{ include('postes/_form.html.twig') }}
                            <a href="{{ path('postes_index') }}">Back to Feed</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
