{% extends 'back.html.twig' %}

{% block title %}Add A Partner{% endblock %}


{% block content %}
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <div class="iq-card" >
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Host an Event</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            {{ include('partenaire/back_form.html.twig') }}
                            <a href="{{ path('partenaire_back_index') }}">Back to Partners</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>





{% endblock %}
