{% extends 'back.html.twig' %}

{% block title %}Edit Partner{% endblock %}


{% block content %}
    <h1>Edit Partner</h1>
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <div class="iq-card" >
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Edit Partner</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            {{ include('partenaire/back_form.html.twig', {'button_label': 'Update'}) }}



                                {{ include('partenaire/back_delete_form.html.twig') }}
                            <a href="{{ path('partenaire_back_index') }}">Show Partners</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
