{% extends 'base.html.twig' %}

{% block title %}Edit Partenaire{% endblock %}


{% block content %}
<div style="margin-top: 4vw;margin-left: auto;margin-right: auto; max-width: 70%">
    <h1>Edit Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('partenaire_index') }}">back to list</a>

    {{ include('partenaire/_delete_form.html.twig') }}
</div>
{% endblock %}
