{% extends 'base.html.twig' %}

{% block title %}Edit Interactions{% endblock %}

{% block body %}
{% block content %}
    <h1>Edit Interactions</h1>

    {{ include('interactions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('interactions_index') }}">back to list</a>

    {{ include('interactions/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
