{% extends 'base.html.twig' %}

{% block title %}New TypeEvent{% endblock %}

{% block body %}
{% block content %}
    <h1>Create new TypeEvent</h1>

    {{ include('type_event/_form.html.twig') }}

    <a href="{{ path('type_event_index') }}">back to list</a>
{% endblock %}
{% endblock %}
