{% extends 'base.html.twig' %}

{% block title %}New Report{% endblock %}


{% block content %}
<h1>Reports</h1>
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <div class="iq-card" >
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Add your report</h4>
                             <h1>Create new report</h1>

    {{ include('signalisation/back_form.html.twig') }}

    <a href="{{ path('signalisation_back_index') }}">back to list</a>
                        </div>
                    </div>
                    <div class="iq-card-body">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
