
 {%block body %}

     <!doctype html>
     <html lang="en">
     <head>
         <meta charset="UTF-8">
         <script src="{{ asset("https://cdn.jsdelivr.net/npm/chart.js@2.8.0")}}"></script>

         <meta name="viewport"
               content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <title>Document</title>
     </head>
     <body>

     <div style="width: 75%">
         <canvas id="myChart"></canvas>
     </div>
     {% set nbtraite=0 %}
     {% set nbnontraite=0%}

     {% for f in signalisation %}


         {% if 'Traité' == f.etatSignal %}
             {% set  nbtraite=nbtraite+1 %}

         {%endif %}
         {% if 'Non traité' == f.etatSignal %}
             {% set  nbnontraite=nbnontraite+1 %}
         {%endif %}

     {% endfor %}

     <script>
         Chart.defaults.global.title.display=true;
     </script>

     <script language="javascript">
         var ctx = document.getElementById('myChart').getContext('2d');
         var chart = new Chart(ctx, {
             // The type of chart we want to create
             type: 'line',

             // The data for our dataset
             data: {
                 labels: ['','Traité','Non traité'],
                 datasets: [{
                     label: 'Nombres Totales des signals: {{signalisation|length}}',
                     backgroundColor: 'rgb(255, 99, 132)',
                     borderColor: 'rgb(255, 99, 101)',
                     data: [0,{{nbtraite}},{{nbnontraite}},]
                 }]
             },

             // Configuration options go here
             options: {
                 title:{

                     text:"Liste des signalements "
                 }

             }
         });
     </script>




     </body>
     </html>
 {% endblock %}