<form method="post" action="{{ path('signalisation_delete', {'idSignal': signalisation.idSignal}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ signalisation.idSignal) }}">
    <button class="btn">Delete</button>
</form>
