{% extends 'base.html.twig' %}

{% block title %}Edit Signalisation{% endblock %}

{% block body %}
{% block content %}
    <h1>Edit Signalisation</h1>

    {{ include('signalisation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('signalisation_index') }}">back to list</a>

    {{ include('signalisation/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
