{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}


{% block content %}
    <h1>Categories</h1>
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <div class="iq-card" >
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Edit my Event</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <h1>Edit Categorie</h1>

                            {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

                            <a href="{{ path('categorie_index') }}">back to list</a>

                            {{ include('categorie/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>



{% endblock %}
