{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    {% block content %}
   
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CategorieName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.categorieName }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'categorieName': categorie.categorieName}) }}">show</a>
                    <a href="{{ path('categorie_edit', {'categorieName': categorie.categorieName}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Create new</a>
    {% endblock %}
{% endblock %}
