{% extends 'base.html.twig' %}

{% block title %}New Candidature{% endblock %}

{% block body %}
{% block content %}
    <h1>Create new Candidature</h1>

    {{ include('candidature/_form.html.twig') }}

    <a href="{{ path('candidature_index') }}">back to list</a>
{% endblock %}
{% endblock %}
