{% extends 'back.html.twig' %}

{% block title %}Edit Feedback{% endblock %}


{% block content %}
<h1>Feedback</h1>
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <div class="iq-card" >
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Edit my Feedback</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
    <h1>Edit Feedback</h1>

    {{ include('feedback/back_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('feedback_back_index') }}">back to list</a>

    {{ include('feedback/back_delete_form.html.twig') }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
