{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
{% block content %}
    <h1>Create new Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('evenement_index') }}">back to list</a>
{% endblock %}
{% endblock %}
